:root {
    --bg: #3a3839;
    --itemColor: #171717;
    --fontColor: #dbdbdb;
    --subFontColor: silver;
    --purple: #d00f7c;
    --turquise: #57b2be;
    --lila: #937be2;
    --transaction-color: var(--turquise);
    --transaction-font-color: var(--fontColor);
    --transaction-hover-color: #00ffcc;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 3px;
}

.detail-view::-webkit-scrollbar-thumb,
.dropdown-list::-webkit-scrollbar-thumb,
.income-box::-webkit-scrollbar-thumb,
.expenses-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.detail-income::-webkit-scrollbar-thumb,
.dropdown-income::-webkit-scrollbar-thumb,
.income-box::-webkit-scrollbar-thumb {
    background-color: var(--turquise);
}

.detail-expense::-webkit-scrollbar-thumb,
.dropdown-expense::-webkit-scrollbar-thumb,
.expenses-box::-webkit-scrollbar-thumb {
    background-color: var(--purple);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track-piece:start {
    margin-top: 60px;
}

::-webkit-scrollbar-track-piece:end {
    margin-bottom: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: Poppins, sans-serif;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    cursor: default;
}

.left {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 250px;
    gap: 10px;
}

.period-slider {
    height: 50px;
    background-color: var(--itemColor);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border-radius: 20px;
    background: var(--bg);
    color: var(--itemColor);
    cursor: pointer;
}

.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius: 20px;
    background: var(--fontColor);
    transition: all 0.3s;
}

.toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
}

.toggleContainer div {
    padding: 3px 15px;
    text-align: center;
    z-index: 1;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 0px 0.7px 1.2px rgba(0, 0, 0, 0.4);
}

.toggleCheckbox {
    display: none;
}
  
.toggleCheckbox:checked + .toggleContainer div:first-child{
    color: var(--fontColor);
    transition: color 0.3s;
}
  
.toggleCheckbox:checked + .toggleContainer div:last-child{
    color: var(--bg);
    transition: color 0.3s;
}
  
.toggleCheckbox + .toggleContainer div:first-child{
    color: var(--bg);
    transition: color 0.3s;
}
  
.toggleCheckbox + .toggleContainer div:last-child{
    color: var(--fontColor);
    transition: color 0.3s;
}

.income-box, .expenses-box {
    height: calc(50vh - 50px);
    background-color: var(--itemColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--subFontColor);
    overflow: auto;
    padding-bottom: 12px;
    transition: box-shadow 0.2s ease;
}

.income-box:hover {
    box-shadow: 0 0 0 2px var(--turquise);
}

.expenses-box:hover {
    box-shadow: 0 0 0 2px var(--purple); 
}

.box-header {
    width: 90%;
    background-color: var(--itemColor);
    position: sticky;
    top: 0;
    padding: 12px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.income-box .box-header {
    color: var(--turquise);
}

.expenses-box .box-header {
    color: var(--purple);
}

h4 {
    font-weight: normal;
    text-align: center;
}

.current-period {
    font-size: 16px;
}

#income-table, #expenses-table {
    width: 90%;
    border-collapse: collapse;
}

th, td  {
    padding: 5px 0;
    text-align: center;
    color: var(--fontColor);
    font-size: 12px;
}

td:first-child {
    min-width: 60px;
    max-width: 60px;
    text-align: left;
}

td:last-child {
    min-width: 60px;
    max-width: 60px;
    text-align: right;
}

.detail-window {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: var(--bg);
    display: flex;
    gap: 10px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.detail-window.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.detail-view-header {
    background-color: var(--itemColor);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 60px;
}

.income-detail-header {
    color: var(--turquise);
}

.expenses-detail-header {
    color: var(--purple);
}

#add-income, #add-expenses {
    cursor: pointer;
    position: absolute;
    right: 20px;
    font-size: 30px;
    transition: transform 0.2s ease, color 0.2s ease;
}

#add-income:hover {
    transform: scale(1.1);
    color: #00ffcc;
}

#add-expenses:hover {
    transform: scale(1.1);
    color: #ff00aa ;
}
 
#close-details {
    position: absolute;
    left: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
 }

 #close-details:hover {
    transform: scale(1.1);
}

.detail-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--itemColor);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0px 24px 20px 24px;
}

.detail-view-filter {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: var(--itemColor);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0 0 0;
    width: 100%;
    justify-content: center;
    min-height: 80px;
}

.detail-view-filter input {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--itemColor);
    border: 1px solid var(--transaction-color);
    outline: none;
    color: var(--fontColor);
    height: 35px;
    width: 235px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.detail-view-filter input:hover  {
    box-shadow: 0 0 0 1px var(--transaction-hover-color);
}

.detail-view-filter input::placeholder {
    color: var(--fontColor);
}

.filter-category-container {
    position: relative;
    height: 35px;
}

#filter-category-input.open-dropdown {
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 0;
}

#filter-category-input.open-dropdown:hover {
    background: var(--transaction-color);
    color: var(--transaction-font-color)
}

#filter-category-input.close-dropdown:hover::placeholder {
    color: var(--fontColor);
    transition-delay: 0.3s;
}

#filter-category-input.close-dropdown {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.3s ease 0.3s;
}

#filter-category-input:focus {
    caret-color: transparent;
}

#filter-category-dropdown {
    top: 35px;
    overflow-x: hidden;
}

#filter-category-dropdown.open {
    max-height: 168px;
}

#filter-category-dropdown li {
    padding: 7px 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.filter-amount-container {
    display: flex;
    gap: 2px;
    height: 35px;
    align-items: center;
}

.filter-amount-container input {
    width: 135px;
}

.filter-calendar-container {
    position: relative;
    height: 35px;
}

#filter-date {
    width: 235px;
}

#filter-date:focus {
    caret-color: transparent;
}

.filter-calendar-container:has(#filter-calendar.open) #filter-date {
    box-shadow: none;
}

#filter-calendar {
    position: absolute;
    width: 234.41px;
}

.range-highlight {
    background-color: var(--transaction-color);
    color: var(--transaction-font-color);
}

.range-start, .range-end {
    background-color: var(--transaction-color);
}

.filter-btn-container {
    display: flex;
    height: 35px;
    gap: 10px;
}

.filter-btn-container  button {
    width: 100px;
    background-color: var(--transaction-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

.filter-btn-container button:hover {
    background-color: var(--transaction-hover-color);
}
  
#apply-filter img, #clear-filter img {
    width: 20px; 
    object-fit: contain;
    vertical-align: middle;
}

.no-results {
    color: var(--fontColor);         
    font-size: 16px;      
    text-align: center;   
    margin-top: 20px;
}

.detailsList {
    width: 100%;
}

.detailsList table {
    width: 100%;
    border-collapse: collapse; 
}

.detailsList thead {
    position: sticky;
    top: 80px;
    z-index: 10;
    background-color: var(--itemColor);
}

.detailsList td {
    font-size: 14px;
}

.month-header {
    text-align: center;
    font-weight: normal;
    position: relative;
    background-color: var(--itemColor);
}

.month-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.month-header:before,
.month-header:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 1px solid currentColor;
}

.month-header:before {
    left: 0;
}

.month-header:after {
    right: 0;
}

.month-header-name {
    position: relative;
    z-index: 1;
    background-color: var(--itemColor);
    padding: 0 5px;
    font-size: 15px;
}

.month-header.income {
    color: var(--turquise);
}

.month-header.expense {
    color: var(--purple);
}

#transaction-modal {
    visibility: hidden;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;
    z-index: 15;
}

#transaction-modal.visible {
    visibility: visible;
    opacity: 1;
}

#transaction-modal.hidden {
    visibility: hidden;
    opacity: 0;
}

.modal-content {
    background: var(--itemColor);
    border: 1px solid var(--transaction-color);
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    width: 420px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#transaction-modal.visible .modal-content {
    opacity: 1;
    transform: scale(1);
}

.form-group {
    --pad: .75rem;
    position: relative;
}

#transaction-modal input {
    padding: var(--pad);
    border-radius: 8px;
    background-color: var(--itemColor);
    border: 1px solid var(--transaction-color);
    width: 100%;
    outline: none;
    color: var(--fontColor);
}

#category.open-dropdown {
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#category.close-dropdown {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition-delay: 0.3s; 
}

#transaction-modal label {
    position: absolute;
    left: var(--pad);
    top: 50%;
    background: var(--itemColor);
    padding-inline: .3em;
    transition: transform 200ms;
    pointer-events: none;
    transform-origin: left;
    translate: -.3em -50%;
    font-size: 14px;
    opacity: 0.8;
}

#transaction-modal input::placeholder {
    opacity: 0;
}

#transaction-modal input:focus + label,
#transaction-modal input:not(:placeholder-shown) + label {
    transform: translateY(calc(-40% - var(--pad))) scale(.8);
    color: var(--transaction-color);
    opacity: 1;
}

#transaction-modal input:focus {
    border: 1px solid var(--transaction-color);
}

#date {
    font-family: Poppins, sans-serif;
    border: 1px solid var(--transaction-color);
    padding-top: 11px;
    padding-bottom: 8px;
    color-scheme: dark;
    cursor: pointer;
}

.relative {
    position: relative;
}

.calendar {
    position: absolute;
    left: 0;
    background: var(--itemColor);
    border: 1px solid var(--transaction-color);
    border-radius: 8px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: -1;
}

.calendar.open {
    opacity: 1;
    z-index: 1;
}

.calendar-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 8px;
    font-weight: bold;
    grid-column: span 7;
}

.prev-btn, .next-btn {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    height: 20px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 35px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: var(--transaction-color);
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.month-name {
    font-weight: normal;
}

.year-name {
    flex-grow: 1;
    text-align: center;
    font-weight: normal;
}
  
.dayOfWeek, .day {
    text-align: center;
    padding: 4px;
    margin: 1px;
}

.dayOfWeek {
    font-weight: bold;
    cursor: default;
}

.day {
    transition: background-color 0.3s ease; 
    border-radius: 50%;
}

.day:not(.today):not(.range-end):hover {
    background: var(--bg);
}

.today {
    border-radius: 50%;
    color: var(--transaction-font-color);
    background-color: var(--transaction-color);
    padding: 2.5px;
    margin: 2.5px;
}

.today:hover {
    background-color: var(--transaction-hover-color);
}
  
.hidden {
    display: none;
}

.combobox {
    position: relative;
}

.dropdown-list {
    position: absolute;
    width: 100%;
    background: var(--itemColor);
    border: 1px solid var(--transaction-color);
    border-radius: 8px;
    max-height: 0;
    overflow-y: auto;
    visibility: hidden;
    transition: max-height 0.3s ease-out, visibility 0.3s ease-out, border-radius 0.3s ease-out;
    list-style: none;
    padding: 0;
    font-size: 13px;
    z-index: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 40px;
    border-top: transparent;
}

.dropdown-list.open {
    visibility: visible;
    max-height: 178px;
}

.dropdown-list li {
    padding: 8px var(--pad);
    cursor: pointer;
}

.dropdown-list li:hover {
    background: var(--transaction-color);
    color: var(--transaction-font-color);
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#save-transaction, #close-modal {
    width: 140px;
    height: 35px;
    background-color: var(--transaction-color);
    border: none;
    border-radius: 10px;
    color: var(--transaction-font-color);
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

#save-transaction:disabled {
    cursor: default;
    opacity: 0.7;
}

#save-transaction:not(:disabled):hover, #close-modal:hover {
    background-color: var(--transaction-hover-color);
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 300px;
    gap: 10px;
}

.main-top-container {
    display: flex;
    gap: 10px;
}

.top-left, .top-center, .top-right {
    flex: 1;
    height: 60px;
    background-color: var(--itemColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-left div {
    color: var(--turquise);
}

.top-center div {
    color: var(--purple);
}

.top-right div {
    color: var(--lila);
}

.negative {
    color: #d91624 !important;
}

.center, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background-color: var(--itemColor);
    border-radius: 10px;
}

.center {
    flex-grow: 1;
}

.right {
    flex-grow: 0;
    flex-basis: 250px;

    /* wieder löschen !!!  */
    display: none;
}

.payment-method-container {
    display: flex; 
    justify-content: space-around;
    width: 100%;
}

.payment-method {
    width: 35px;
    object-fit: contain;
    cursor: pointer;
}

.payment-method.income:hover,
.payment-method.selected.income {
    filter: brightness(0) saturate(100%) invert(94%) sepia(59%) saturate(3164%) hue-rotate(147deg) brightness(80%) contrast(79%);
}

.payment-method.expense:hover,
.payment-method.selected.expense {
    filter: brightness(0) saturate(100%) invert(15%) sepia(97%) saturate(3568%) hue-rotate(313deg) brightness(90%) contrast(99%);
}

